<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  </head>
  <body>
    <div id="container" style="min-width: 910px; height: 400px; margin: 0 auto">
    <h1>Ambee Air monitoring station</h1>
    <%= console.log(JSON.stringify(data)) %>
    <% for (var i = 0; i < 99; i++) { %>
        <ul>
            <li><% data[i].pm_level%></li>
            <li><% data[i].added_at%></li>
        </ul>
    <%}%>
    </div>
  </body>
</html>