<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  </head>
  <body>
    <div id="container" style="min-width: 910px; height: 400px; margin: 0 auto">
    <h1>Ambee Air monitoring station</h1>
    <p>Do not refesh the page will load data every 10-15 seconds.</p>
    <p>PM 2.5 READING: <%=data.pm_level %></p>
    <p>RECORDED AT: <%= data.added_at %></p>
    </div>
  </body>
  <script>
      setInterval(function(){
          location.reload();
      }, 20000);
  </script>
</html>